<head>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!--Hide widget button
  <style>
    #widget {
      width: 45%;
      padding: 10px ;
      text-align: center;
      background-color: lightblue;
      margin-top: 10px;
    }
    </style>
    -->
  <style>
  body {
    padding: 25px;
    background-color: #F9F9F9;
    color: black;
    font-size: 25px;
  }
  .dark-mode {
    background-color: #2C2B2B;
    color: white;
  }
  </style>

  <body>
    <p></p>   <p></p>
  <a class="btn btn-secondary" onclick="darkmode()" >dark mode</a>
  <script>
  function darkmode() {
     var element = document.body;
     element.classList.toggle("dark-mode");
  }
  </script>
</a>
<style>
.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}
</style>

</head>
<!--hide button-->
<p></p><p></p><p></p><p></p>

<body>
<!--<button onclick="closewidget()">Try it</button>HIDEWIDGET BUTON-->

<div id="widget" class="box"><iframe src="https://pt.euronews.com/embed/timeline" scrolling="no" width="450" height="500" style="border:none; min-height:425px;"></iframe></div>

<div class="box"><iframe src="//pt.euronews.com/embed/meteorologia/europa/portugal/lisboa" scrolling="no" width="350" height="500" style="border:none;min-height:500px;"></iframe></div>

<iframe src="https://discordapp.com/widget?id=260877754646528011&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
<style type="text/css">
  iframe { margin: 50px; }
</style>
<iframe src="https://open.spotify.com/embed/playlist/7lh4gf2WEg5COnYwFM4kcN" width="350" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


<!--<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-d025d61b-5af2-43e8-96c5-b9dc2f61cb7c"></div>

<a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-theme="original" >NEW YORK WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

-->

<!--Dropbox
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="YOUR_APP_KEY"></script>

<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="sc72aeh9fs7368n"></script>
<a 
  href="https://www.dropbox.com/s/u0bdwmkjmqld9l2/dbx-supporting-distributed-work.gif?dl=0" 
  class="dropbox-embed"
></a> 
-->


<!--GoogleCalendar-->
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FLisbon&amp;src=ZW4ucG9ydHVndWVzZSNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=cHQucG9ydHVndWVzZSNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237CB342&amp;color=%237986CB&amp;showPrint=0&amp;showNav=1" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>




<!--close button script
<script>
  function closewidget() {
    var x = document.close("widget");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  </script>-->

</body>